
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --verda: #779734;
  --ruĝa: #982718;
  --griza: #eaedef;
  --num-kolj: 3;
}

/* helpiloj */

.unu { grid-area: unu; }

.du { grid-area: du; }

.tri { grid-area: tri; }

.kvar { grid-area: kvar; }

/* bazaj stiloj */

body {
  font-family: 'Cantarell', var(--font-family-sans-serif);
  background-color: rgb(50,50,50);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h2 {
  font-family: "Anton", sans-serif;
  color: var(--ruĝa);
  margin-bottom: 0;
}

a {
  color: var(--ruĝa);
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: 3px solid var(--verda);
  width: 60%;
}

article p, article ul, article ol {
  line-height: 130%;
  font-family: times;
}
article.justigi p {
  text-align: justify;
}

.iubildo {
  text-align: center;
}

.paĝo {
  background-color: white;
  border-top: 1em solid var(--verda);
  border-bottom: 1em solid var(--verda);
}

.kol {
  padding: 1em 1em 0 1em;
}

p.verso {
  padding-left: 1em;
  font-style: italic;
}

/* paĝ-specoj */

.paĝo.unu-artikolo article {
  padding: 0 1em 1em 1em;
  column-count: var(--num-kolj);
  font-size: 105%;
}
.paĝo.unu-artikolo article h2 {
  column-span: all;
  border-bottom: 3px solid var(--verda);
  margin-bottom: .3em;
}

.paĝo.plur-artikolo {
  padding: 1em 1em 1em 1em;
  column-count: var(--num-kolj);
}

.paĝo.plur-artikolo article {
  /* break-inside: avoid-column; */
  font-size: 105%;
}
.paĝo.plur-artikolo article::after {
  clear: both;
}
.paĝo.plur-artikolo hr {
  break-before: avoid-column;
  /* display: none; */
  margin: 1rem auto;
}

/* bildo en cirklo */

.ikon-bildo {
  display: block;
  width: 1.5cm;
  height: 1.5cm;
  border-radius: .8cm;
  border: 1px solid black;
  background-image: url(../person.png);
  background-size: contain;
  overflow: hidden;
}
.ikon-bildo.pli-granda {
  width: 1.5cm;
  height: 1.5cm;
}
.ikon-bildo img {
  width: 100%;
  height: 100%;
  border-radius: .8cm;
  border: 1px solid white;
}

/* aŭtor-marko */

.subskribo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.subskribo :first-child {
  flex-grow: 10;
}

/* foto kaj etikedo */

.foto {
  clip: auto;
}
.foto img {
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: contain;
  object-position: center;
}
.foto.blanka img {
  background-color: white;
}
.foto div:first-child {
  height: 20em;
  overflow: hidden;
}
.foto.granda div:first-child {
  max-height: 35em;
  overflow: hidden;
}
.foto p {
  font-size: smaller;
  margin: 1em;
  padding: 0;
}

.foto.granda img {
  object-fit: cover;
}

.foto.granda.a30 div:first-child {
  height: 30em;
}

.foto.granda.a25 div:first-child {
  height: 25em;
}

.foto.granda.a22 div:first-child {
  height: 22em;
}

.foto.malgranda.s4 div:first-child {
  margin-top: 3em;
  margin-bottom: 3em;
}

/* unua paĝo */

.paĝo.p1 {
  border-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 13em 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "kapo kapo"
    "unu du"; 
}

.kapo {
  grid-area: kapo;
  background-color: var(--verda);
  padding: 1em 1em 0 1em;
  color: white;
  background-image: url(../header.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-position: 20% 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.kapo .titolo {
  margin: 0;
  text-align: right;
}
.kapo .titolo .bul {
  font-size: .9cm;
  font-family: "Playball", cursive;
  padding-right: 1mm;
}
.kapo .titolo .lek {
  display: block;
  font-family: "Anton", sans-serif;
}

.kapo .sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.kapo .sub * {
  padding: 0;
  margin: 0;
}

.kapo .ligilo {
  font-family: "Anton", sans-serif;
  font-size: .5cm;
}
.kapo .ligilo a {
  color: inherit !important;
  text-decoration: inherit !important;
}

.kapo .dato {
  text-align: right;
  font-size: .7cm;
}
.kapo .dato .monato {
  font-family: "Anton", sans-serif;
}
.kapo .dato .jaro {
  font-family: "Playball", cursive;
  padding-right: .5mm;
}

.p1 .unu {
  background-color: var(--griza);
}

.programo .kalendaro {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: 4.5em;
  align-items: center;
}
.programo .kalendaro h3 {
  grid-column: 1/4;
}
.programo .kalendaro .evento {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / 4;
  align-items: center;
}
.programo .kalendaro h3 {
  font-family: "Playball", cursive;
  font-size: 10mm;
  margin: 1mm 0 3mm 0;
}
.programo .kalendaro .evento .tago {
  font-family: "Playball", cursive;
  font-size: 7mm;
}
.programo .kalendaro .evento .titolo {
  font-family: sans-serif;
  padding: 0 3mm;
}
.programo .kalendaro .evento .titolo .ĉ {
  font-weight: bold;
}

.p1 .du {
  font-size: 105%;
}

/* lasta paĝo */

.paĝo.pN {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "unu du"; 
}

.pN .du {
  background-color: var(--griza);
}

.priklubo h2 {
  background-color: var(--verda);
  color: white;
  padding: 1mm;
  margin-bottom: .3em;
}

.pN .du .map {
  text-align: center;
}
.pN .du .map img {
  border: 1px solid black;
}

.pN hr {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

@media screen {
  .paĝo {
    /* min-width: 50em; */
    max-width: 60em;
    margin: 1em auto;
    padding: 0;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    outline: 1px solid black;
  }
  .paĝo::before {
    border: 1px solid black;
  }

  .kapo .titolo {
    line-height: 1.3em;
  }
  .kapo .titolo .lek {
    font-size: 2em;
  }

  .programo td {
    padding: .4em 0;
  }
}

@media print {
  @page {
    margin: 0;
    padding: 0;
  }

  body {
    background: none;
    margin: 0;
    padding: 0;
    font-size: 11pt;
  }

  p {
    margin-bottom: 7pt;
  }

  p:last-child {
    margin-bottom: 0;
  }
  
  .paĝo {
    break-inside: avoid;
    break-after: always;
    height: 100vh;
    width: 100vw;
  }

  .paĝo.p1 {
    grid-template-rows: 5cm 1fr;
  }

  .kapo .titolo {
    line-height: 1.2cm;
  }
  .kapo .titolo .lek {
    font-size: 1.8cm;
  }
}

@media screen and (max-width:50rem) {
  :root {
    --num-kolj: 1;
  }

  .paĝo.p1 {
    display: block;
  }

  .kapo {
    height: 25em;
  }
  .kapo .titolo {
    line-height: 1.80em;
  }

  .foto img {
    object-fit: contain;
  }

  .paĝo.pN {
    display: block;
  }
}
